@import "tailwindcss";

@theme {
  --color-primary: #ffd700;
  /* Titan Gold */
  --color-primary-dark: #b8860b;
  --color-secondary: #000000;
  /* Deep Black */
  --color-accent: #c0c0c0;
  /* Silver */
  --color-dark-bg: #050505;
  /* Almost Black */
  --font-display: 'Cinzel', serif;
  --font-body: 'Inter', sans-serif;
}

body {
  @apply bg-black text-slate-200;
  font-family: var(--font-body);
  background-image: radial-gradient(circle at top center, #1a1a1a 0%, #000000 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}